.env
testing.py
data_prep/__pycache__/__init__.cpython-310.pyc
data_prep/__pycache__/data_summary.cpython-310.pyc
DataPrepKitV2.egg-info/dependency_links.txt
DataPrepKitV2.egg-info/PKG-INFO
DataPrepKitV2.egg-info/requires.txt
DataPrepKitV2.egg-info/SOURCES.txt
DataPrepKitV2.egg-info/top_level.txt
dist/DataPrepKitV2-1.0-py3-none-any.whl
dist/DataPrepKitV2-1.0.tar.gz
dist/DataPrepKitV2-1.1.tar.gz
dist/DataPrepKitV2-1.1-py3-none-any.whl
dist/DataPrepKitV2-1.0-py3-none-any.whl
winemag-data-130k-v2.csv
dist/DataPrepKitV2-1.0-py3-none-any.whl
DataPrepKitV2/test.ipynb
DataPrepKitV2/winemag-data-130k-v2.xlsx
DataPrepKitV2/iris.json
